*{
    margin: 0;
    padding: 0;
    background-color: #44a390;
}
#form{
    position: relative;
}
/* Images section begins */
.form-left-main {
    position: relative;
}
.Odin{
    position: absolute;
    height: 150px;
    width: 120px;
    left: 300px;
    top: 70px;
    z-index: 1;
   
}
.Unsplash {
    position: absolute;
    left: 200px;
    height: 600px;
    width: 300px;
    object-fit: cover;
    
}


/* form-main begins */
.form-right-main {
    position: absolute;
    left: 50%;
    top: 100px;

}
